In [116]:
import pandapower as pp
import pandapower.networks as nw
import pandapower.plotting as plot
import math as math
#from pandapower.plotting import simple_plot, simple_plotly, pf_res_plotly

# Predefined network of IEEE 4gs bus system 
net = pp.networks.case4gs()
#plot.simple_plot(net)

In [117]:
####Shunt FACTS device (bus 1)
#MV bus
bus_SVC = pp.create_bus(net, name='MV SVCtrafo bus', vn_kv=69, type='n', geodata=(-2,2.5), zone=2, max_vm_pu=1.1,
                        min_vm_pu=0.9)
#Trafo
trafoSVC = pp.create_transformer_from_parameters(net, hv_bus=1, lv_bus=4, in_service=True, 
                                                name='trafoSVC', sn_mva=110, vn_hv_kv=230 , vn_lv_kv=69, 
                                                vk_percent=12, vkr_percent=0.26, pfe_kw=55, i0_percent=0.06,
                                                shift_degree=0, tap_side='hv', tap_neutral=0, tap_min=-9, tap_max=9,
                                                tap_step_percent=1.5, tap_step_degree=0, tap_phase_shifter=False) 
#Breaker between grid HV bus and trafo HV bus to connect buses
sw_SVC = pp.create_switch(net, bus=1, element=0, et='t', type='CB', closed=False)
#Shunt devices connected with MV bus
TSC1 = pp.create_shunt(net, bus_SVC, -50, in_service=True, name='TSC1', step = 1)
TSC2 = pp.create_shunt(net, bus_SVC, -50, in_service=True, name='TSC2', step = 1)
TCR = pp.create_shunt(net, bus_SVC, 1, in_service=True, name='TCR', step = 10)

In [118]:
####Series device (at line 3, in middle between bus 2 and 3)
#Add intermediate buses for bypass and series compensation impedance
bus_SC1 = pp.create_bus(net, name='SC bus 1', vn_kv=230, type='n', geodata=(-1,3.1), zone=2, max_vm_pu=1.1, min_vm_pu=0.9)
bus_SC2 = pp.create_bus(net, name='SC bus 2', vn_kv=230, type='n', geodata=(-1,3.0), zone=2, max_vm_pu=1.1, min_vm_pu=0.9)
sw_SC_bypass = pp.create_switch(net, bus=5, element=6, et='b', type='CB', closed=True)
series_factor = -0.4
imp_SC = pp.create_impedance(net, from_bus=5, to_bus=6, rft_pu=0.000001272, xft_pu=0.0636*series_factor,
                             rtf_pu=0.000001272, xtf_pu=0.0636*series_factor, sn_mva=250, in_service=True)
#Adjust orginal Line 3 to connect to new buses instead.
net.line.at[3, ['length_km', 'to_bus', 'name']] = [0.5, 5, 'line1_SC']                        
lineSC2 = pp.create_line_from_parameters(net, name='line2_SC', c_nf_per_km=net.line.at[3,'c_nf_per_km'],
                       df=net.line.at[3, 'df'], from_bus=6, g_us_per_km=net.line.at[3, 'g_us_per_km'],
                       in_service=net.line.at[3, 'in_service'], length_km=0.5, max_i_ka=net.line.at[3, 'max_i_ka'],
                       max_loading_percent=net.line.at[3, 'max_loading_percent'], parallel=net.line.at[3, 'parallel'],
                       r_ohm_per_km=net.line.at[3, 'r_ohm_per_km'], std_type=net.line.at[3, 'std_type'], to_bus=3, 
                       type=net.line.at[3, 'type'], x_ohm_per_km=net.line.at[3, 'x_ohm_per_km'])

In [119]:
#EXCHANGE PV GEN INTO SGEN
pp.runpp(net)
sgen_temp = net.gen.loc[0] #Save PV generator parameters
net.gen.drop(index=[0], inplace= True) #Drop PV generator
sgen_nom_p_mw = net.res_gen.p_mw
sgen_nom_q_mvar = net.res_gen.q_mvar
pp.create_sgen(net, 3, p_mw=sgen_nom_p_mw, q_mvar=sgen_nom_q_mvar, name='static generator', scaling=1)
net.sgen

,name,bus,p_mw,q_mvar,sn_mva,scaling,in_service,type,current_source
0,static generator,3,318.0,181.484101,NaN,1.0,True,None,True

In [ ]:
########Some Settings

In [ ]:
# Enabling shunt device, true means enabled
net.switch.closed[0] = True

In [ ]:
# Enabling the series compensation, False means enabled
net.switch.at[1, 'closed'] = False
net.trafo.tap_pos[0] = 0

In [ ]:
# Load scaling
l_scaling = 2
l_ind = 1
l_p_mw = net.load.p_mw[l_ind]
l_q_mvar = net.load.q_mvar[l_ind]
net.load.p_mw[l_ind] = l_p_mw*l_scaling
net.load.q_mvar[l_ind] = l_q_mvar*l_scaling

In [149]:
# Generation scaling
g_scaling = 1
g_ind = 0
g_p_mw =
g_q_mvar =
net.sgen.p_mw[g_ind] = g_p_mw*g_scaling
net.sgen.q_mvar[g_ind] = g_q_mvar*g_scaling

SyntaxError: invalid syntax (<ipython-input-149-6ccc13de5f88>, line 4)

In [120]:
#########RESULTS

In [121]:
#plot.simple_plotly(net)

In [122]:
pp.runpp(net)
net.res_sgen

    p_mw      q_mvar
0  318.0  181.484101

In [123]:
net.res_load

    p_mw  q_mvar
0   50.0   30.99
1  170.0  105.35
2  200.0  123.94
3   80.0   49.58

In [124]:
net.res_ext_grid

         p_mw     q_mvar
0  186.806814  114.43142

In [125]:
net.res_impedance

,p_from_mw,q_from_mvar,p_to_mw,q_to_mvar,pl_mw,ql_mvar,i_from_ka,i_to_ka
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [126]:
net.res_line

,p_from_mw,q_from_mvar,p_to_mw,q_to_mvar,pl_mw,ql_mvar,i_from_ka,i_to_ka,i_ka,vm_from_pu,va_from_degree,vm_to_pu,va_to_degree,loading_percent
0,38.722798,22.292370,-38.495881,-31.229183,0.226918,-8.936813,0.112159,0.126658,0.126658,1.000000,0.000000,0.982421,-0.977077,20.182829
1,98.084015,61.149050,-97.053680,-63.511074,1.030336,-2.362024,0.290141,0.300459,0.300459,1.000000,0.000000,0.969031,-1.871668,47.877698
2,-131.504119,-74.120817,133.219044,74.923927,1.714924,0.803110,0.385709,0.376146,0.385709,0.982421,-0.977077,1.020000,1.521408,61.462187
3,-102.946320,-60.428926,103.887554,58.985702,0.941234,-1.443224,0.309226,0.301364,0.309226,0.969031,-1.871668,0.995088,-0.143270,49.274683
4,-103.887554,-58.985702,104.780956,56.980174,0.893402,-2.005529,0.301364,0.293528,0.301364,0.995088,-0.143270,1.020000,1.521408,48.021956

In [127]:
net.res_bus

      vm_pu  va_degree        p_mw      q_mvar
0  1.000000   0.000000 -136.806814  -83.441420
1  0.982421  -0.977077  170.000000  105.350000
2  0.969031  -1.871668  200.000000  123.940000
3  1.020000   1.521408 -238.000000 -131.904101
4       NaN        NaN    0.000000    0.000000
5  0.995088  -0.143270    0.000000    0.000000
6  0.995088  -0.143270    0.000000    0.000000

In [128]:
net.res_bus.p_mw.sum()

-4.806813737543109

In [129]:
net.res_bus.q_mvar.sum()

13.94447956793502

In [136]:
net.load

,bus,const_i_percent,const_z_percent,controllable,in_service,name,p_mw,q_mvar,scaling,sn_mva,type
0,0,0.0,0.0,False,True,None,50.0,30.99,1.0,NaN,None
1,1,0.0,0.0,False,True,None,170.0,105.35,1.0,NaN,None
2,2,0.0,0.0,False,True,None,200.0,123.94,1.0,NaN,None
3,3,0.0,0.0,False,True,None,80.0,49.58,1.0,NaN,None

In [148]:
sinDelta = -.0818054914
num = 230*230*0.959962 * sinDelta
denom = math.sqrt(pow(net.line.x_ohm_per_km[0],2) + pow(net.line.r_ohm_per_km[0],2) )
P = num / denom
P

-152.78801672491457